.matrix-container * * {
    text-align: center;
    color: white;
}

.matrix-container h2 {
    text-align: center;
    color: black;
}

#pao-matrix-cards {
    /* text-align: center; */
}

.row {
    display: inline-flex;
    border-bottom: 1px solid white;
    /* border: 1px solid black; */
}

.row0, .row2 {
    background-color: darkred;
}

.row1, .row3 {
    background-color: black;
}

.card {
    font-size: 11px;
}

.card-img {
    width: 110px;
    height: 160px;
}

.rank {
    width: 110px;
}
.category {
    width: 220px;
}

.ranks {
    background-color: black;
    color: white;
}

.padding {
    padding: 5px 0 5px 0;
}

.border-bottom {
    border-bottom: 1px solid gray;
}

#card-categories, #card-ranks {
    margin-left: 47px; /* this must be equal to the width of the suits elements minus 1px (border) */
}

.suit {
    display: flex;
    align-items: center;
    border: 1px solid black;
    font-size: 50px;
    background-color: lightgray;
    padding: 0 4px;
    /* this must be equal to the width of the element */
}

.red {
    color: red;
}

.black {
    color: black;
}