.matrix-container {
    text-align: center;
    color: white;
}
.matrix-container h2 {
    color: black
}

.row {
    display: inline-flex;
    border-bottom: 1px solid white;
    /* border: 1px solid black; */
}

.row0 {
    background-color: darkred;
    
}

.row1 {
    background-color: darkred;
}

.row2, .row3 {
    background-color: black;
}

.card-img {
    width: 100px;
    height: 160px;
}

.number {
    width: 100px;
}
.category {
    width: 200px;
}

.numbers {
    background-color: black;
    color: white;
}

.padding {
    padding: 5px 0 5px 0;
}

.border-bottom {
    border-bottom: 1px solid gray;
}