#card {
    height: 25em;
    width: 15em;
    background-color: orange;
}

.btn {
    border-radius: 25%;
    padding: 5px 10px;
    height: 50px;
}

#reveal {
    @extend .btn;
    background-color: red;
}
#next {
    @extend .btn;
    background-color: green;
}

