
/* If you don't know or don't have SCSS installed, use quizoutput.css´ */


.btn {
    position: relative;
    border-radius: 25%;
    padding: 5px 10px;
    height: 3em;
    width: 5em;
    font-weight: 900;
    color: white;
    border: none;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;

    &__image {
        position: absolute;
        top: 5em;

        img {
            object-fit: fill;
            height: 25em;
            width: 19em;
        }
    }
}
.form--container {
    position: relative;
    top: 25em;
    width: fit-content;
    display: block;
    label {
        text-align: right;
        display: inline-block;
        width: 100px;
        margin-right: 8px;
    }
    input {
        margin: 10px 0 0 0;
    }
    input[type="checkbox"] {
        margin-left: 10px;
    }
}


.btn-container {
    height: fit-content;
    transform: translate(22em,-5em);
}

#reveal {
    @extend .btn;
    background-color: red;
}
#next {
    @extend .btn;
    background-color: green;
}
